$pivot-table-light-theme: mat-light-theme((
  color: (
    primary: $pivot-table-primary,
    accent: $pivot-table-accent,
    warn: $pivot-table-warn,
  )
));

@include angular-material-theme($pivot-table-light-theme);
