$border-color: rgba(0, 0, 0, .25);

ha-table {
  table {
    border-collapse: collapse;

    tr {
      th,
      td {
        border: 1px solid $border-color;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, .05);
        color: rgba(0, 0, 0, .5);

        &.title-cell {
          padding: 10px;
        }

        &.corner-cell {
          background-image: linear-gradient(to bottom left, transparent calc(50% - 1px), $border-color, transparent calc(50% + 1px));
          position: relative;

          .top-right,
          .bottom-left {
            position: absolute;
          }

          .top-right {
            top: 5px;
            right: 5px;
          }

          .bottom-left {
            bottom: 5px;
            left: 5px;
          }
        }

        &.header-cell,
        &.data-cell {
          width: 300px;
          height: 60px;

          .inner-header-cell {
            text-align: left;
          }

          .inner-header-cell,
          .inner-data-cell {
            padding: 5px 10px;
          }

          .inner-data-cell,
          .inner-header-cell {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .info-row {
              display: flex;
              flex-direction: row;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
